.page__header {
  top: -100px;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease;
  width: 100%;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.page__header.fixed {
  position: fixed;
  transform: translateY(100px);
}

.page__footer {
  width: 100%;
  margin: -12px 0 0 0;
  padding-bottom: 100px;
  background-color: #041827;

  @include vp-1023 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0;
  }
}
