.about-company {
  width: 100%;
  margin: 0 auto;
  padding: 13px 350px 103px;

  @include vp-1439 {
    padding: 60px 50px 98px;
    margin: 0;
  }

  @include vp-1279 {
    width: 100%;
    padding: 60px 50px 98px;
    margin: 0;
    gap: 0 50px;
  }

  @include vp-1023 {
    padding: 31px 47px 79px;
    margin: 0;
  }

  @include vp-767 {
    padding: 0 25px 81px;
    margin: 0;
  }
}

.about-company__wrapper {
  max-width: 1220px;
  display: flex;
  gap: 0 100px;
  margin: 0 auto;

  @include vp-1439 {
    margin: 0 auto;
  }

  @include vp-1279 {
    width: 100%;
    margin: 0 auto;
    gap: 0 50px;
  }

  @include vp-1023 {
    width: 100%;
    gap: 0 27px;
  }

  @include vp-767 {
    width: 100%;
    gap: 0 15px;
  }
}

.about-company__content {
  display: block;
  order: 2;
}

.about-company__picture {
  min-width: 150px;
  max-height: 320px;
  margin: 0;
  order: 1;
}

.about-company__image {
  width: 100%;
  height: 100%;
  margin: 0;
}

.about-company__picture--hidden-mobile {
  display: block;

  @include vp-767 {
    display: none;
  }
}
