.forms {
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(139deg, #026592 33.6%, #00b3ff 33.7%);

  @include vp-1023 {
    background: #00b3ff;
  }

  @include vp-767 {
    padding: 12px 0 4px 0;
  }
}

.forms__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 157px 0 250px 0;
  display: grid;
  grid-template-columns: 515px 585px;
  grid-template-rows: repeat(auto-fit, minmax(303px, auto));
  gap: 0 111px;

  @include vp-1279 {
    width: 100%;
    padding: 157px 140px 250px 140px;
    box-sizing: border-box;
    grid-template-columns: 307px auto;
    grid-template-rows: repeat(auto-fit, minmax(303px, auto));
    gap: 0 35px;
  }

  @include vp-1023 {
    display: block;
    width: 100%;
    padding: 35px 50px 153px 50px;
    box-sizing: border-box;
  }

  @include vp-767 {
    width: 100%;
    padding: 35px 25px 94px 25px;
    box-sizing: border-box;
  }
}

.forms__container {
  grid-row: 1;
  grid-column: 2;
}

.forms__picture {
  grid-row: 1;
  grid-column: 1;
  margin-top: 81px;
}

.forms__pic {
  width: 100%;
  object-fit: cover;
}

.forms__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  padding: 0;
  margin: 0 0 11px 0;

  @include vp-1279 {
    font-size: 31px;
  }

  @include vp-1023 {
    font-size: 36px;
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 140.62%;
    margin-bottom: 10px;
  }
}

.forms__subtitle {
  font-family: "PT_Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin: 0 0 35px 4px;

  @include vp-1023 {
    margin: 0 0 23px 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 134.4%;
    margin-bottom: 30px;
  }
}


.forms__question {
  width: 100%;
  max-width: 550px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  gap: 20px 28px;
  margin-left: 4px;

  @include vp-1279 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 74px 155px 50px;
    gap: 7px 25px;
    margin-left: 4px;
  }

  @include vp-1023 {
    width: 100%;
    max-width: 640px;
    grid-template-columns: 50% 50%;
    gap: 0 30px;
    margin: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.forms__label {
  width: 100%;
  margin: 0;
  padding: 0;
}

.forms__label--name input {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.forms__label--tel input {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  margin-left: 0;
  padding: 0;
}

.forms__label input {
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  font-family: "PT_Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  color: #ffffff;
  background-color: #019bdf;
  border-radius: 3px;
  border: 2px solid #019bdf;

  &:hover {
    border: 2px solid rgba(#000000, 0.5);
  }

  &:focus,
  &:active {
    border: 2px solid rgba(#000000, 0.8);
  }

  &::placeholder {
    font-family: "PT_Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    color: #ffffff;
  }

  @include vp-767 {
    min-width: 0;
  }
}

.forms__question textarea {
  grid-column: 1/-1;
  grid-row: 2;
  height: 155px;
  padding: 23px 15px 15px 15px;
  box-sizing: border-box;
  font-family: "PT_Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #019bdf;
  border: 2px solid #019bdf;
  border-radius: 3px;

  &:hover {
    border: 2px solid rgba(#000000, 0.5);
  }

  &:focus,
  &:active {
    border: 2px solid rgba(#000000, 0.8);
  }

  &::placeholder {
    font-family: "PT_Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #ffffff;
  }

  @include vp-1023 {
    padding: 32px 15px 15px 15px;
  }

  @include vp-767 {
    padding-top: 22px;
    height: 179px;
  }
}

.forms__label--checkbox {
  cursor: pointer;
  grid-column: 2;
  grid-row: 3;
  display: flex;
  align-items: center;
  margin: 28px 0 0 32px;

  @include vp-1023 {
    margin: 57px 0 0 21px;
  }

  @include vp-767 {
    margin: 3px 0 0 25px;
    order: 4;
  }
}

.forms__label--checkbox input {
  padding-left: 20px;
}

.forms__style {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0 0 0 -20px;
}

.forms__label--checkbox input:checked + .forms__style::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 10px;
  height: 10px;
  background: url("../img/svg/check_mark.svg") no-repeat;
}

.forms__label--checkbox input:hover + .forms__style {
  border: 1px solid rgba(#000000, 0.5);
}

.forms__label--checkbox input:focus + .forms__style {
  border: 1px solid rgba(#000000, 0.8);
}

.forms__text {
  font-family: "PT_Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  margin: 0 0 0 6px;

  @include vp-1023 {
    margin: 5px 0 0 4px;
  }
}

.forms__container-button {
  width: 100%;
  grid-column: 1;
  grid-row: 3;
  margin-top: 14px;

  @include vp-1023 {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 56px 0 0 0;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 10px;
  }
}

.forms__button {
  cursor: pointer;
  width: 100%;
  max-width: 265px;
  min-width: 215px;
  padding: 15px 25px 9px 25px;
  background-color: #041427;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 0 6px 2px #ffffff;
  }

  @include vp-767 {
    width: 100%;
    min-width: 0;
  }
}

.forms__picture--hidden-tablet {
  display: block;

  @include vp-1023 {
    display: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0 40rem #019bdf inset;
}

.forms__error-empty,
 .forms__error {
   display: block;
 }

.forms__error-empty--hidden,
.forms__error--hidden {
  display: none;
}
